* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: arial, sans-serif;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 30px;
	background: #23242b;
	color: #fff;
}
.u-name {
	font-size: 20px;
	display: flex;
	align-items: center;
	flex-grow: 1;
	justify-content: center;
	position: relative;
}
.u-name label {
	position: absolute;
	left: 0;
	margin-right: 0;
}
.u-name .before-element::before {
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	position: absolute;
	left: 0;
}
.u-name b {
	color: #127b8e;
}
.header i {
	font-size: 30px;
	cursor: pointer;
	color: #fff;
}
.header i:hover {
	color: #127b8e;
}
.user-p {
	text-align: center;
	padding-left: 10px;
	padding-top: 25px;
}
.user-p img {
	width: 100px;
	border-radius: 50%;
}
.user-p h4 {
	color: #ccc;
	padding: 5px 0;
}
.side-bar {
	width: 250px;
	background: #262931;
	min-height: 100vh;
	transition: 500ms width;
}
.body {
	display: flex;
}
.section-1 {
	position: relative;
	width: 100%;
	background: url("../data/background.jpg");
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	padding: 10px 10px 30px 50px;
}
.section-1 h1 {
	color: #fff;
	font-size: 60px;
}
.section-1 h2 {
	color: #fff;
	font-size: 40px;
}

.section-1 p {
	color: #bbd6db;
	font-size: 20px;
	padding: 7px;
	border-radius: 5px;
}
.side-bar ul {
	margin-top: 20px;
	list-style: none;
}
.side-bar ul li {
	font-size: 16px;
	padding: 15px 0px;
	padding-left: 20px;
	transition: 500ms background;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.side-bar ul li:hover {
	background: #127b8e;
}
.side-bar ul li a {
	text-decoration: none;
	color: #eee;
	cursor: pointer;
	letter-spacing: 1px;
}
.side-bar ul li a i {
	display: inline-block;
	padding-right: 10px;
	font-size: 23px;
}
#navbtn {
	display: inline-block;
	margin-left: 10px;
	font-size: 20px;
	transition: 500ms color;
}
#checkbox {
	display: none;
}
#checkbox:checked ~ .body .side-bar {
	width: 60px;
}
#checkbox:checked ~ .body .side-bar .user-p {
	visibility: hidden;
}
#checkbox:checked ~ .body .side-bar a span {
	display: none;
}
.container {
	width: 322px;
	height: 450px;
	position: relative;
}

.card2 {
	position: absolute;
	width: 15%;
	height: auto;
	left: 72%;
	top : 30%;
}

.card{
	position: absolute;
	width: 15%;
	height: auto;
	left: 5%;
	top : 30%;
}




.card-background {
	width: 100%;
	height: auto;
}
.player-photo img{
	position: absolute;
	width: 70%;
	height: auto;
	top: 10%;
	left: 60%;
	transform: translateX(-50%);
}
.player-details{
	position: absolute;
	width: 120%;
	padding: 10px;
	color: #fff;
	background: rgba(0, 0, 0, 0.5);
	margin-top: 10px;
	border-radius: 5px;
	left: 0%;
	top: 100%;
}
.nation-photo img {
	position: absolute;
	width: 15%;
	height: auto;
	top: 30%;
	left: 20%;
	transform: translateX(-50%);
}
.stat {
	position: absolute;
	background: rgba(255, 255, 255, 0);
	border-radius: 5px;
	font-size: 90%;
	color: rgb(56, 50, 28);
}
.name {
	top: 62%;
	left: 0;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 100%;
}
#pace, #shooting, #passing, #dribbling, #defending, #physique {
	position: absolute;
}
#pace {
	top: 69%;
	left: 15%;
}
#shooting {
	top: 74%;
	left: 15%;
}
#passing {
	top: 79%;
	left: 15%;
}
#dribbling {
	top: 69%;
	left: 55%;
}
#defending {
	top: 74%;
	left: 55%;
}
#physique {
	top: 79%;
	left: 55%;
}
#position {
	font-weight: bold;
	font-size: 120%;
	top: 20%;
	left: 10%;
}
.search-container {
	position: relative;
	width: 300px;
	top: 5%;
}
#searchBar, #teamSearchBar {
	width: 100%;
	padding: 10px;
	border: 2px solid #127b8e;
	border-radius: 5px;
	font-size: 16px;
}
.suggestions, .teamSuggestions {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background: #fff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 0 0 5px 5px;
	z-index: 1000;
	display: none;
}
.suggestions a, .teamSuggestions a {
	padding: 10px;
	display: block;
	text-decoration: none;
	color: black;
	border-bottom: 1px solid #ddd;
}
.suggestions a:last-child, .teamSuggestions a:last-child {
	border-bottom: none;
}
.suggestions a:hover, .teamSuggestions a:hover {
	background-color: #9fa8d0;
}
.suggestions div, .teamSuggestions div {
	cursor: pointer;
	padding: 10px;
	border-bottom: 1px solid #9fa8d0;
}
.suggestions div:hover, .suggestions div.highlight, .teamSuggestions div:hover, .teamSuggestions div.highlight {
	background-color: #9ab1b2;
}

/* Ensures that club info appears as a card, similar to player card */
.clubInfo {
	position: absolute;
	align-items: center;
	background-size: cover;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0,0,0,0.1);
	width: 322px; /* Matching width of player card */
	height: 450px; /* Matching height of player card */
	/* make the card go down */
	top: 30%;
}

/* Styles for the team logo similar to player image */
.club-photo img {
	height: 200px;
	width: auto;
	position: absolute;
	top: 5%;
	left: 20%;
	border-radius: 100%;
	border-radius: 5%; /* Rounded corners */
}

/* Details of the team styled similarly to player stats */
.club-details {
	position: absolute;
	width: 70%; /* Full width of the card */
	padding: 5px;
	color: #fff; /* Font color */
	background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
	border-radius: 5%; /* Rounded corners at the bottom */
	top: 60%;
	left: 7.5%;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.my-image-test1-graph-coach {
	width: 50%;
	height: auto;
	border: 1px solid #000;
}

.my-image-contact-pic {
	width: 15%;
	height: auto;
	border: 1px solid #000;
}

.conatct_section-3 {
	position: absolute;
	padding: 10px;
	color: #fff; /* White text color for readability */
	left: 400px;
	background: rgba(80, 68, 186, 0.5); /* Slightly transparent background */
	margin-top: 10px; /* Space from the stats above */
	border-radius: 5px;
	left: 32%;
	top: 20%;

}
.conatct_section-2 {
	position: absolute;
	padding: 10px;
	color: #fff; /* White text color for readability */
	left: 400px;
	background: rgba(80, 68, 186, 0.5); /* Slightly transparent background */
	margin-top: 10px; /* Space from the stats above */
	border-radius: 5px;
	left: 32%;
	top: 46%;

}
.conatct_section {
	position: absolute;
	padding: 10px;
	color: #fff; /* White text color for readability */
	left: 400px;
	background: rgba(80, 68, 186, 0.5); /* Slightly transparent background */
	margin-top: 10px; /* Space from the stats above */
	border-radius: 5px;
	left: 32%;
	top: 72%;

}

.section-1 h3 {

	color: #fff;
	font-size: 30px;

}

.my-image-graph-stats {
	width: 65%;
	height: auto;
	border: 1px solid #000;
	display: flex;
	/* justify-content: center;
    /* align-items: flex-start; */
}
.my-image-graph-team {
	width: 65%;
	height: auto;
	border: 1px solid #000;
	align-self: center;
	margin-right: -50px;
}


.description_section p {
	margin: 0;
	color: #f0ebeb;
	font-family: Arial, sans-serif;
}

.graph-container {
	display: flex;
}

.graph {
	flex: 1;
	margin-right: 20px; /
}

.description_section {
	position: absolute;
	padding: 10px;
	color: #fff;
	left: 400px;
	background: rgba(80, 68, 186, 0.5);
	margin-top: 10px;
	border-radius: 5px;
	left: 65%;
	top: 150%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
	margin-right: 50px;

}

.description_section-2 {
	position: absolute;
	padding: 10px;
	color: #fff;
	background: rgba(80, 68, 186, 0.5);
	margin-top: 10px;
	border-radius: 5px;
	left: 10%;
	top: 80%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
	margin-right: 50px;

}
.description_section-3 {
	position: absolute;
	padding: 10px;
	color: #fff;
	background: rgba(80, 68, 186, 0.5);
	margin-top: 10px;
	border-radius: 5px;
	left: 65%;
	top: 220%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
	margin-right: 50px;

}
.description_section-4 {
	position: absolute;
	padding: 10px;
	color: #fff;
	left: 400px;
	background: rgba(80, 68, 186, 0.5);
	margin-top: 10px;
	border-radius: 5px;
	left: 65%;
	top: 275%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
	margin-right: 50px;

}
.description_section-5 {
	position: absolute;
	padding: 10px;
	color: #fff;
	left: 400px;
	background: rgba(80, 68, 186, 0.5);
	margin-top: 10px;
	border-radius: 5px;
	left: 65%;
	top: 325%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
	margin-right: 50px;

}
.description_section-6 {
	position: absolute;
	padding: 10px;
	color: #fff;
	left: 400px;
	background: rgba(80, 68, 186, 0.5);
	margin-top: 10px;
	border-radius: 5px;
	left: 65%;
	top: 375%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
	margin-right: 50px;

}
.description_section-7 {
	position: absolute;
	padding: 10px;
	color: #fff;
	left: 400px;
	background: rgba(80, 68, 186, 0.5);
	margin-top: 10px;
	border-radius: 5px;
	left: 65%;
	top: 430%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
	margin-right: 50px;

}


/*****************************/
.radarChart {
	position: absolute;
	left: 30%;
	top: 25%;
	width: 400px; /* Adjust the width as needed */
	height: auto; /* Keep height auto to maintain aspect ratio */
}

.search-container2 {
	position: relative;
	width: 300px;
	left: 70%;
}

#searchBar2, #teamSearchBar2 {
	width: 100%;
	padding: 10px;
	border: 2px solid #127b8e;
	border-radius: 5px;
	font-size: 16px;
}

#suggestions2 {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background: #fff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 0 0 5px 5px;
	z-index: 1000;
	display: none;
}

#suggestions2 div {
	cursor: pointer;
	padding: 10px;
	border-bottom: 1px solid #9fa8d0;
}

#suggestions2 div:hover, #suggestions2 div.highlight {
	background-color: #9ab1b2;
}




.card2 .player-photo2 img {
	position: absolute;
	width: 70%;
	height: auto;
	top: 10%;
	left: 60%;
	transform: translateX(-50%);
}

.card2 .nation-photo2 img {
	position: absolute;
	width: 15%;
	height: auto;
	top: 30%;
	left: 20%;
	transform: translateX(-50%);
}

.card2 .player-details2 {
	position: absolute;
	width: 120%;
	padding: 10px;
	color: #fff;
	background: rgba(0, 0, 0, 0.5);
	margin-top: 10px;
	border-radius: 5px;
	left: 0%;
	top: 100%;
}

.card2 .stat2 {
	position: absolute;
	background: rgba(255, 255, 255, 0);
	border-radius: 5px;
	font-size: 90%;
	color: rgb(56, 50, 28);
}

.card2 .name {
	top: 62%;
	left: 0%;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 100%;
}

.card2 #pace2, #shooting2, #passing2, #dribbling2, #defending2, #physique2 {
	position: absolute;
}

.card2 #pace2 {
	top: 69%;
	left: 15%;
}

.card2 #shooting2 {
	top: 74%;
	left: 15%;
}

.card2 #passing2 {
	top: 79%;
	left: 15%;
}

.card2 #dribbling2 {
	top: 69%;
	left: 55%;
}

.card2 #defending2 {
	top: 74%;
	left: 55%;
}

.card2 #physique2 {
	top: 79%;
	left: 55%;
}

.card2 #position2 {
	font-weight: bold;
	font-size: 120%;
	top: 20%;
	left: 10%;
}
#suggestions2 {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background: #fff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 0 0 5px 5px;
	z-index: 1000;
	display: none;
}

#suggestions2 div {
	cursor: pointer;
	padding: 10px;
	border-bottom: 1px solid #ddd;
}

#suggestions2 div:last-child {
	border-bottom: none;
}

#suggestions2 div:hover, #suggestions2 div.highlight {
	background-color: #9ab1b2;
}


.clubInfo2 {
	position: absolute;
	align-items: center;
	background-size: cover;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0,0,0,0.1);
	width: 322px; /* Matching width of player card */
	height: 450px; /* Matching height of player card */
	/* make the card go down */
	top: 30%;
	left: 70%;
}

/* Styles for the team logo similar to player image */
.club-photo2 img {
	height: 200px;
	width: auto;
	position: absolute;
	top: 5%;
	left: 20%;
	border-radius: 100%;
	border-radius: 5%; /* Rounded corners */
}

/* Details of the team styled similarly to player stats */
.club-details2 {
	position: absolute;
	width: 70%; /* Full width of the card */
	padding: 5px;
	color: #fff; /* Font color */
	background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
	border-radius: 5%; /* Rounded corners at the bottom */
	top: 60%;
	left: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.chart {

	margin-top: 15%;
	margin-left: 17%;
	padding-top: 7%;
}
.chart .right {
	stroke: white;
	fill: indianred;
}
.chart .left {
	stroke: white;
	fill: steelblue;
}
.chart rect:hover {
	fill: #64707d;
}
.chart text {
	fill: white;

}
.chart text.name {
	fill: white;
}





