* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: arial, sans-serif;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 30px;
	background: #23242b;
	color: #fff;
}

.u-name {
	font-size: 20px;
	display: flex;
	align-items: center;
	flex-grow: 1;
	justify-content: center;
	position: relative;
}

.u-name label {
	position: absolute;
	left: 0;
	margin-right: 0;
}

.u-name .before-element::before {
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	position: absolute;
	left: 0;
}

.u-name b {
	color: #127b8e;
}
.header i {
	font-size: 30px;
	cursor: pointer;
	color: #fff;
}
.header i:hover {
	color: #127b8e;
}
.user-p {
	text-align: center;
	padding-left: 10px;
	padding-top: 25px;
}
.user-p img {
	width: 100px;
	border-radius: 50%;
}
.user-p h4 {
	color: #ccc;
	padding: 5px 0;

}
.side-bar {
	width: 250px;
	background: #262931;
	min-height: 100vh;
	transition: 500ms width;
}
.body {
	display: flex;
}
.section-1 {
	width: 100%;
	background: url("../data/background.jpg");
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: flex-start; /* aligns content horizontally to the start (left) */
	align-items: flex-start; /* aligns content vertically to the start (top) */
	flex-direction: column;
	padding: 10px 10px 30px 50px; /* Top Right Bottom Left padding */}

.section-1 h1 {

	color: #fff;
	font-size: 60px;
}
.section-1 h2 {

	color: #fff;
	font-size: 40px;
}

.section-1 p {
	color: #bbd6db;
	font-size: 20px;
	padding: 7px;
	border-radius: 5px;
}
.side-bar ul {
	margin-top: 20px;
	list-style: none;
}
.side-bar ul li {
	font-size: 16px;
	padding: 15px 0px;
	padding-left: 20px;
	transition: 500ms background;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.side-bar ul li:hover {
	background: #127b8e;
}
.side-bar ul li a {
	text-decoration: none;
	color: #eee;
	cursor: pointer;
	letter-spacing: 1px;
}
.side-bar ul li a i {
	display: inline-block;
	padding-right: 10px;
	font-size: 23px;
}
#navbtn {
	display: inline-block;
	margin-left: 10px;
	font-size: 20px;
	transition: 500ms color;
}
#checkbox {
	display: none;
}
#checkbox:checked ~ .body .side-bar {
	width: 60px;
}
#checkbox:checked ~ .body .side-bar .user-p{
	visibility: hidden;
}
#checkbox:checked ~ .body .side-bar a span{
	display: none;
}

.my-image-test1-graph-coach {
	width: 50%; 
	height: auto; 
	border: 1px solid #000; 
  }

  .my-image-contact-pic {
	width: 15%; 
	height: auto; 
	border: 1px solid #000; 
  }

  .conatct_section-3 {
	position: absolute;
	padding: 10px;
	color: #fff; /* White text color for readability */
	left: 400px;
	background: rgba(80, 68, 186, 0.5); /* Slightly transparent background */
	margin-top: 10px; /* Space from the stats above */
	border-radius: 5px;
	left: 32%;
	top: 20%;

}
.conatct_section-2 {
	position: absolute;
	padding: 10px;
	color: #fff; /* White text color for readability */
	left: 400px;
	background: rgba(80, 68, 186, 0.5); /* Slightly transparent background */
	margin-top: 10px; /* Space from the stats above */
	border-radius: 5px;
	left: 32%;
	top: 46%;

}
.conatct_section {
	position: absolute;
	padding: 10px;
	color: #fff; /* White text color for readability */
	left: 400px;
	background: rgba(80, 68, 186, 0.5); /* Slightly transparent background */
	margin-top: 10px; /* Space from the stats above */
	border-radius: 5px;
	left: 32%;
	top: 72%;

}

.section-1 h3 {

	color: #fff;
	font-size: 30px;

}

.my-image-graph-stats {
	width: 65%; 
	height: auto; 
	border: 1px solid #000;
	display: flex;
    /* justify-content: center;
    /* align-items: flex-start; */
  }
  .my-image-graph-team {
	width: 65%; 
	height: auto; 
	border: 1px solid #000;
	align-self: center; 
  margin-right: -50px;
  }


  .description_section p {
	margin: 0; 
	color: #f0ebeb; 
	font-family: Arial, sans-serif; 
  }

  .graph-container {
	display: flex;
  }
  
  .graph {
	flex: 1; 
	margin-right: 20px; /
  }

  .description_section {
	position: absolute;
	padding: 10px;
	color: #fff; 
	left: 400px;
	background: rgba(80, 68, 186, 0.5); 
	margin-top: 10px; 
	border-radius: 5px;
	left: 65%;
	top: 150%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
	margin-right: 50px;

}

.description_section-2 {
	position: absolute;
	padding: 10px;
	color: #fff; 
	left: 400px;
	background: rgba(80, 68, 186, 0.5); 
	margin-top: 10px; 
	border-radius: 5px;
	left: 65%;
	top: 70%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
	margin-right: 50px;

}
.description_section-3 {
	position: absolute;
	padding: 10px;
	color: #fff; 
	left: 400px;
	background: rgba(80, 68, 186, 0.5); 
	margin-top: 10px; 
	border-radius: 5px;
	left: 65%;
	top: 220%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
	margin-right: 50px;

}
.description_section-4 {
	position: absolute;
	padding: 10px;
	color: #fff; 
	left: 400px;
	background: rgba(80, 68, 186, 0.5); 
	margin-top: 10px; 
	border-radius: 5px;
	left: 65%;
	top: 275%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
	margin-right: 50px;

}
.description_section-5 {
	position: absolute;
	padding: 10px;
	color: #fff; 
	left: 400px;
	background: rgba(80, 68, 186, 0.5); 
	margin-top: 10px; 
	border-radius: 5px;
	left: 65%;
	top: 325%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
	margin-right: 50px;

}
.description_section-6 {
	position: absolute;
	padding: 10px;
	color: #fff; 
	left: 400px;
	background: rgba(80, 68, 186, 0.5); 
	margin-top: 10px; 
	border-radius: 5px;
	left: 65%;
	top: 375%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
	margin-right: 50px;

}
.description_section-7 {
	position: absolute;
	padding: 10px;
	color: #fff; 
	left: 400px;
	background: rgba(80, 68, 186, 0.5); 
	margin-top: 10px; 
	border-radius: 5px;
	left: 65%;
	top: 430%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
	margin-right: 50px;

}
